{include file="public/_meta" /}
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header layui-hide">
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">场馆</a>
                <a><cite>场景房间</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">场景房间列表</div>
            <div class="layui-card-body">
                <div type="text/html" id="toolbar">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid">场馆/ID</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <select name="venue_id" lay-filter="venue_id">
                                        <option value="" selected>请选择…</option>
                                        {volist name="venueList" id="vo"}
                                        <option value="{$vo.venue_id}">{$vo.venue_name .' / '. $vo.venue_id}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="layui-form-mid">场景/场馆ID</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <select name="scene_id" lay-filter="scene_id">
                                        <option value="" selected>请选择…</option>
                                        {volist name="sceneList" id="vo"}
                                        <option value="{$vo.scene_id}">{$vo.scene_name .' / '. $vo.venue_id}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <button class="layui-btn layui-btn-blue" onclick="layuiTable()">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="layui-hide" id="layui_table" lay-filter="lay_filter_table"></table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/layui/layui.all.js"></script>
<script src="/static/common/js/common.js"></script>
<script>
    // 声明页面全局变量
    var venue_id; // 场馆ID
    var scene_id; // 场景ID

    // 页面加载时执行
    layuiTable();

    /**
     * layui.table 数据表格：初始化渲染方式为方法渲染
     */
    function layuiTable() {
        layui.use('table', function () {

            var table = layui.table;
            var form = layui.form;

            // 监听表单select
            form.on('select(venue_id)', function(data){
                //console.log(data.value); //得到被选中的值
                venue_id = data.value;
            });
            form.on('select(scene_id)', function(data){
                //console.log(data.value); //得到被选中的值
                scene_id = data.value;
            });

            // 方法级渲染
            table.render({
                elem: '#layui_table'
                , cols: [[ //表头
                    {field: 'room_id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'room_name', title: '场景房间名称', cellMinWidth: 120}
                    , {field: 'scene_name', title: '场景', width: 120}
                    , {field: 'venue_name', title: '场馆', width: 120}
                    , {field: 'room_price', title: '房间价格/￥', width: 120}
                    , {field: 'available_number', title: '可容纳人数', width: 120}
                    , {field: 'booked_txt', title: '是否被预订', cellMinWidth: 120}
                    , {field: 'status_msg', title: '状态', width: 80}
                    //, {title: '操作', fixed: 'right', width: 120, align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                ]]
                , url: '{:url("admin/scene_room/getSceneRoom")}' //数据接口
                //,method: 'get' // 接口http请求类型，默认：get
                ,where: {venue_id: venue_id, scene_id: scene_id} // 接口的其它参数，此处为搜索条件
                //,contentType: 'application/x-www-form-urlencoded'
                , parseData: function (res) { //res 即为原始返回的数据
                    //console.log(this.limit); // 每页数据量
                    //console.log(this.page.curr); // 当前页码
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.total, //解析数据长度
                        "data": res.data.data //解析数据列表
                    };
                }
                , request: { // 用于对分页请求的参数：page、limit重新设定名称
                    //pageName: 'curr' //页码的参数名称，默认：page
                    limitName: 'size' //每页数据量的参数名，默认：limit
                }
                , response: { // 自定义数据响应名称
                    //statusName: 'status' //规定数据状态的字段名称，默认：code
                    statusCode: 1 //规定成功的状态码，默认：0
                    //,msgName: 'hint' //规定状态信息的字段名称，默认：msg
                    //,countName: 'total' //规定数据总数的字段名称，默认：count
                    //,dataName: 'rows' //规定数据列表的字段名称，默认：data
                }
                //, id: 'layui_table'
                //, toolbar: '#toolbar' //'<div>权限规则列表</div>'
                //,height: 312 // 设定容器高度
                ,page: true //开启分页 //, page: {limit: 2}
            });

            // 监听工具条
            table.on('tool(lay_filter_table)', function(obj){ //注：tool 是工具条事件名，lay_filter_table 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                if (layEvent === 'detail'){ //查看
                    //do somehing
                } else if(layEvent === 'LAYTABLE_TIPS'){
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                }
            });

        });
    }
</script>

<!--toolbar - 绑定工具条模板，它可以存放在页面的任意位置 s-->
<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>--><!--注意：属性 lay-event="" 是模板的关键所在，值可随意定义。-->
</script>
<!--toolbar - 绑定工具条模板 e-->

</body>
</html>