<div class="layui-side custom-admin">
    <div class="layui-side-scroll">

        <div class="custom-logo">
            <!--<img src="__STATIC__/layui_admin/images/logo.png" alt=""/>-->
            <h1>WestWorld Venue</h1>
        </div>

        <ul id="Nav" class="layui-nav layui-nav-tree">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe68e;</i>
                    <em>主页</em>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="console">控制台</a></dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe857;</i>
                    <em>组件</em>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="views/form.html">表单</a></dd>
                    <dd>
                        <a href="javascript:;">页面</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="login.html">登录页</a>
                            </dd>
                        </dl>
                    </dd>
                </dl>
            </li>-->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe715;</i>
                    <em>场馆</em>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('Venue/index')}">场馆信息</a></dd>
                    <dd><a href="{:url('Scene/index')}">场景</a></dd>
                    <dd><a href="{:url('Session/index')}">场次</a></dd>
                    <dd><a href="{:url('SceneRoom/index')}">房间</a></dd>
                    <dd><a href="{:url('Equipment/index')}">装备</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe60a;</i>
                    <em>比赛订单</em>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('Order/index')}">已完成订单</a></dd>
                    <dd><a href="{:url('Order/index')}">进行中订单</a></dd>
                    <dd><a href="{:url('Order/index')}">预约订单</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe770;</i>
                    <em>比赛组队</em>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('SessionTeams/index')}">组队列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe67b;</i>
                    <em>会员积分</em>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('Order/index')}">已兑换积分</a></dd>
                    <dd><a href="{:url('Order/index')}">未兑换积分</a></dd>
                </dl>
            </li>
        </ul>

    </div>
</div>