{include file="public/_meta" /}
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">添加广告位 <a href="javascript:history.go(-1)" title="返回" class="layui-btn layui-btn-sm" style="float: right;margin-top: 5px"><i class="layui-icon layui-icon-return"></i> 返回</a></div>
            <div class="layui-card-body">

                <form class="layui-form" lay-filter="layui_form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告位名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="position_name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告位宽度</label>
                        <div class="layui-input-inline">
                            <input type="number" name="ad_width" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">px</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告位高度</label>
                        <div class="layui-input-inline">
                            <input type="number" name="ad_height" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">px</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">广告位描述</label>
                        <div class="layui-input-block">
                            <input type="text" name="position_desc" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否启用</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="开启" checked>
                            <input type="radio" name="status" value="0" title="关闭">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--<script src="__STATIC__/layui/layui.js"></script>-->
{include file="public/_footer" /}

<script>

    /**
     * 表单模块 - layui.form
     */
    layui.use('form', function(){
        var form = layui.form;

        // 监听submit提交
        form.on('submit(*)', function(data){
            //layer.msg(JSON.stringify(data.field));

            /*ajax请求 s*/
            // TODO：在 /public/static/ 目录下新建 common.js 文件，封装公用 ajax 方法
            var _data = data.field;
            var url = "{:url('admin/ad_position/save')}";
            ajaxRequest(url, 'post', _data);
            /*ajax请求 e*/

            return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

</script>
</body>
</html>