{include file="public/_meta" /}
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">添加场景房间 <a href="javascript:history.go(-1)" title="返回" class="layui-btn layui-btn-sm" style="float: right;margin-top: 5px"><i class="layui-icon layui-icon-return"></i> 返回</a></div>
            <div class="layui-card-body">

                <form class="layui-form" lay-filter="layui_form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">场景</label>
                        <div class="layui-input-block">
                            <select name="scene_id" lay-filter="scene_id" lay-verify="required">
                                <option value="">请选择…</option>
                                {volist name="sceneList" id="vo"}
                                <option value="{$vo.scene_id}">{$vo.scene_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">房间名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="room_name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">房间价格/￥</label>
                        <div class="layui-input-block">
                            <input type="number" step="0.01" min="0" name="room_price" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">可容纳人数</label>
                        <div class="layui-input-block">
                            <input type="number" step="1" min="0" name="available_number" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="0" title="禁用" checked>
                            <input type="radio" name="status" value="1" title="启用">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--<script src="__STATIC__/layui/layui.js"></script>-->
{include file="public/_footer" /}

<script>
    /**
     * 表单模块 - layui.form
     */
    layui.use('form', function(){
        var form = layui.form;

        // 监听submit提交
        form.on('submit(*)', function(data){
            //layer.msg(JSON.stringify(data.field));

            /*ajax请求 s*/
            // TODO：在 /public/static/ 目录下新建 common.js 文件，封装公用 ajax 方法
            var _data = data.field;
            var url = "{:url('venue/scene_room/save')}";
            ajaxRequest(url, 'post', _data);
            /*ajax请求 e*/

            return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</body>
</html>